p {
	color: #000;
}
ion-avatar {
	border: 1px solid lightgrey;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
ion-avatar p {
	color: var(--ion-color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.6em;
}
ion-label > p {
	align-items: flex-start;
	display: flex;
	word-break: break-all;
	word-wrap: normal;
}
