<ion-header>
	<ion-toolbar>
		<div class="edit">
			<span>
				<ion-text color="primary" (click)="onClickEdit()">
					<h4>Edit</h4>
				</ion-text>
			</span>
			<ion-segment (ionChange)="segmentChanged($event)">
				<ion-segment-button value="all" checked>
					<ion-label>All Calls</ion-label>
				</ion-segment-button>
				<ion-segment-button value="missed">
					<ion-label>Missed</ion-label>
				</ion-segment-button>
			</ion-segment>
			<span>
				<ion-icon
					slot="end"
					name="create"
					mode="ios"
					color="primary"
					(click)="onNewCall()"
				></ion-icon>
			</span>
		</div>
		<!-- <ion-title style="font-size: 30px;">Calls</ion-title> -->
		<h1>Calls</h1>
		<ion-searchbar
			placeholder="Search..."
			(ionChange)="onSearchChange($event)"
			[debounce]="250"
		></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-on-padding">
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-list>
					<ion-item-sliding *ngFor="let call of loadedCallLog" #slideEl>
						<ion-item>
							<ion-avatar style="background-color: lightgray;">
								<ion-img [src]="call.imageUrl"></ion-img>
							</ion-avatar>
							<ion-label>
								<h4>{{ call.user}}</h4>
								<p>
									<span style="margin-right: 20px;">{{ call.type }}</span> {{
									call.time}}
								</p>
							</ion-label>
							<ion-icon
								slot="end"
								name="information-circle-outline"
								(click)="forCallerInfo()"
								color="primary"
							></ion-icon>
							<!-- <ion-icon
								slot="end"
								name="call"
								(click)="forVoiceCall()"
								style="color: lightgray;"
							></ion-icon> -->
						</ion-item>

						<ion-item-options side="end">
							<ion-item-option (click)="onDelete(slideEl)" color="danger"
								>Delete</ion-item-option
							>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
